<a class="button button-danger text-center"href="#remove-user">Remove profile</a>

<div id="remove-user" class="modal">
  <div class="modal-content">
    <form action="{{ url_for('remove_user') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <h3 class="margin-bottom-1 flex-wrap max-w-500">Do you want to delete your user profile?<br>All of the related resources will also be removed.</h3>

      <button type="submit" class="button-danger">
        Confirm
      </button>

        <a href="#" class="button">
          Cancel
        </a>
    </form>
  </div>
</div>