<button style="background-color: var(--color-danger)" type="button" onclick="removeRecipeModal.showModal()">
  Remove recipe
</button>

<dialog id="removeRecipeModal">
  <form action="{{ url_for('recipes.remove_recipe', recipe_id=recipe.id) }}" method="post">
    <input
        type="hidden"
        name="csrf_token"
        value="{{ session.csrf_token }}"
    >
    <p>Do you want to remove the recipe?</p>

    <button style="background-color: var(--color-danger)" type="submit">Confirm</button>
    <button type="button" onclick="removeRecipeModal.close()">Cancel</button>
  </form>
</dialog>